.f-content{margin-bottom:25px}
.site-content.group #primary.left-column,.site-content.groups #primary.left-column{position:relative;padding:30px;min-height:600px;background:#fff;border:1px solid #eee}
.group .left-column,.groups .left-column{float:left;width:68%;bottom:0;padding:0}
.site-main{position:relative}
.toolbar{display:none}
#setting{position:relative;background:#fff;height:auto;padding:5px 10px}
.last input[type=submit]{display:inline-block;cursor:pointer;padding:5px 12px;color:#fff;font-size:1.4rem;line-height:1.42857143;vertical-align:middle;font-weight:400;text-align:center;text-decoration:none;background:#FF5E52;white-space:nowrap;outline:0;border:none;cursor:pointer;vertical-align:middle;margin-top:3px;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.set_nav{height:46px;border-bottom:2px solid #FF5E52;padding:11px 10px 0}
.set_nav li{float:left}
.set_nav li a{float:left;width:90px;height:35px;text-align:center;border-radius:5px 5px 0 0;line-height:35px;font-size:15px;color:#999}
.set_nav li.active a{background:#FF5E52;color:#fff}
.set_nav li.last{float:right}
.set_nav li.last a{background:#FF5E52;color:#FFF}
.set_cnt{min-height:350px;line-height:25px}
.set_cnt a{text-decoration:none}
.set_cnt p{line-height:30px;margin-top:10px}
.set_cnt code{padding:2px 4px;color:#c7254e;background-color:#f9f2f4;border-radius:4px;margin:0 3px}
.set_cnt .set_box{display:none}
.set_box textarea{max-width:100%;width:100%;height:auto;margin:0 auto;overflow-y:auto}
#cssdiy textarea{margin-top:20px}
.set_box h2{border-bottom:2px dashed #999;height:35px;line-height:35px}
.set_box h2 strong{border-bottom:2px solid #FF5E52;float:left;height:35px;padding:0 10px}
.set_box h2 small{margin-left:15px;font-size:14px}
.set_cnt li,ul li{list-style:none}
.set_nav ul{margin-top:0;margin-bottom:0;padding:0}
.bankinfo{width:100%;height:100px}
.set_box li{font-weight:700}
.da-form-row .right_td{float:right}
.da-form-row left_td{float:left}
.da-form-row{padding:10px 16px;border-bottom:1px solid #d3d3d3}
.da-form-row label{margin-bottom:.5rem;font-weight:600}
.da-form-row form.da-form .customfile,.da-form-row .input-text,.da-form-row select,.da-form-row textarea{background-color:#fcfcfc;border:1px solid #d1d1d1;padding:4px;outline:0;margin-bottom:2px;color:#444;font-size:1em;-webkit-border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,.04);-moz-box-shadow:0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,.04);-o-box-shadow:0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,.04);box-shadow:0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,.04);-webkit-transition:background 150ms linear;-moz-transition:background 150ms linear;-ms-transition:background 150ms linear;-o-transition:background 150ms linear;transition:background 150ms linear}
#banben{text-align:center;padding:10px 0;margin:12px 0 0 0}
.text-width{max-width:50%;height:auto;margin:0 auto}
@media (max-width:1024px){.group .left-column,.groups .left-column{width:100%}
.text-width{max-width:100%;width:100%;height:auto;margin:0 auto}
}
@media only screen and (min-width :320px) and (max-width :568px){.set_nav{height:152px;border-bottom:2px solid #FF5E52}
input.input{width:215px}
.bankinfo{width:100%}
#banben img{width:220px}
}
@media (-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){.icheckbox_square-green,.iradio_square-green{background-image:url(green@2x.png);-webkit-background-size:240px 24px;background-size:240px 24px}
}
.bs-callout{padding:10px;margin:10px auto;border:1px solid #ddd;border-radius:2px;text-align:center}
.bs-callout h4{margin-top:0;margin-left:-1px;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;height:50px;line-height:50px;font-size:20px;font-weight:400}
.set_box>.bs-callout p{padding:0;margin:0}
.update_btn>.update_class{border-radius:3px;padding:4px 15px;color:#fff;display:inline-block;background-color:#FF5E52}
.update_btn>.update_class a{color:#fff}
.update_btn>.update_class:hover{filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8}
.bs-callout>.update_btn{text-align:center}
.da-form-row:last-child{border-bottom:0}
.file-box{position:relative;display:inline-block}
input.upload-File{position:absolute;right:0;top:0;opacity:0;filter:alpha(opacity=0);width:60px;height:30px;overflow:hidden;cursor:url(link.cur),pointer}
a.file-link{display:inline-block;padding:4px 16px;color:#fff;font:14px "Microsoft YaHei",Verdana,Geneva,sans-serif;background-color:#2CAFFB;line-height:22px;border-radius:2px;text-decoration:none;cursor:url(link.cur),pointer}
.mgc{position:relative;width:16px;height:16px;background-clip:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:-.15px .6px 0 0;vertical-align:text-bottom;border-radius:3px;-webkit-transition:background-color .25s;transition:background-color .25s;background-color:#fff;border:1px solid #d7d7d7}
.mgc:checked:after{content:'';display:block;height:4px;width:7px;border:0 solid #333;border-width:0 0 2px 2px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:absolute;top:3px;left:3px}
.mgc:disabled{opacity:.65}
.mgc:focus{outline:0;box-shadow:inset 0 1px 1px rgba(255,255,255,.075),0 0 2px #38a7ff}
.mgc:checked{background-color:#fff;border-color:#d7d7d7}
.mgc:checked:after{border-color:#414141}
.mgc-primary{background-color:#fff;border:1px solid #d7d7d7}
.mgc-primary:checked{background-color:#337ab7;border-color:#337ab7}
.mgc-primary:checked:after{border-color:#fff}
.mgc-success{background-color:#fff;border:1px solid #d7d7d7}
.mgc-success:checked{background-color:#5cb85c;border-color:#5cb85c}
.mgc-success:checked:after{border-color:#fff}
.mgc-info{background-color:#fff;border:1px solid #d7d7d7}
.mgc-info:checked{background-color:#45B6F7;border-color:#45B6F7}
.mgc-info:checked:after{border-color:#fff}
.mgc-warning{background-color:#fff;border:1px solid #d7d7d7}
.mgc-warning:checked{background-color:#f0ad4e;border-color:#f0ad4e}
.mgc-warning:checked:after{border-color:#fff}
.mgc-danger{background-color:#fff;border:1px solid #d7d7d7}
.mgc-danger:checked{background-color:#cf3b3a;border-color:#cf3b3a}
.mgc-danger:checked:after{border-color:#fff}
.mgc-circle{border-radius:50%}
.mgc-sm{width:12px;height:12px}
.mgc-sm:checked:after{top:2px;left:1px;height:3px;width:6px}
.mgc-lg{width:19px;height:19px}
.mgc-lg:checked:after{top:3px;left:3px;height:5px;width:10px}
.mgr{position:relative;width:16px;height:16px;background-clip:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:-.15px .6px 0 0;vertical-align:text-bottom;border-radius:50%;background-color:#fff;border:1px solid #d7d7d7}
.mgr:disabled{opacity:.65}
.mgr:before{content:'';display:block;height:0;width:0;-webkit-transition:width .25s,height .25s;transition:width .25s,height .25s}
.mgr:checked:before{height:8px;width:8px;border-radius:50%;margin:3px 0 0 3px}
.mgr:focus{outline:0;box-shadow:inset 0 1px 1px rgba(255,255,255,.075),0 0 2px #38a7ff}
.mgr:checked{border:1px solid #555}
.mgr:checked:before{background-color:#555}
.mgr-primary{background-color:#fff;border:1px solid #d7d7d7}
.mgr-primary:checked{border:1px solid #337ab7}
.mgr-primary:checked:before{background-color:#337ab7}
.mgr-success{background-color:#fff;border:1px solid #d7d7d7}
.mgr-success:checked{border:1px solid #5cb85c}
.mgr-success:checked:before{background-color:#5cb85c}
.mgr-info{background-color:#fff;border:1px solid #d7d7d7}
.mgr-info:checked{border:1px solid #45B6F7}
.mgr-info:checked:before{background-color:#45B6F7}
.mgr-warning{background-color:#fff;border:1px solid #d7d7d7}
.mgr-warning:checked{border:1px solid #f0ad4e}
.mgr-warning:checked:before{background-color:#f0ad4e}
.mgr-danger{background-color:#fff;border:1px solid #d7d7d7}
.mgr-danger:checked{border:1px solid #cf3b3a}
.mgr-danger:checked:before{background-color:#cf3b3a}
.mgr-sm{width:12px;height:12px}
.mgr-sm:checked:before{height:6px;width:6px;border-radius:50%;margin:2px 0 0 2px}
.mgr-lg{width:19px;height:19px}
.mgr-lg:checked:before{height:11px;width:11px;border-radius:50%;margin:3px 0 0 3px}
.mgc-switch{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;width:41px;height:24px;border:1px solid #dfdfdf;outline:0;border-radius:16px;box-sizing:border-box;background:#dfdfdf}
.mgc-switch:after,.mgc-switch:before{content:" ";position:absolute;top:0;left:0;border-radius:15px;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.mgc-switch:before{width:39px;height:22px;background-color:#fdfdfd}
.mgc-switch:after{width:22px;height:22px;background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,.4)}
.mgc-switch:checked{border-color:#04be02;background-color:#04be02}
.mgc-switch:checked:before{-webkit-transform:scale(0);transform:scale(0)}
.mgc-switch:checked:after{-webkit-transform:translateX(17px);transform:translateX(17px)}
.mgc-sm.mgc-switch{height:20px;width:32px}
.mgc-sm.mgc-switch:before{height:18px;width:30px}
.mgc-sm.mgc-switch:after{width:18px;height:18px}
.mgc-sm.mgc-switch:checked:after{top:0;left:2px;-webkit-transform:translateX(10px);transform:translateX(10px)}
.mgc-lg.mgc-switch{height:32px;width:52px}
.mgc-lg.mgc-switch:before{height:30px;width:50px}
.mgc-lg.mgc-switch:after{width:30px;height:30px}
.mgc-lg.mgc-switch:checked:after{top:0;left:2px;-webkit-transform:translateX(18px);transform:translateX(18px)}
.rao{ margin-right:5px;display:inline-block}
.rao>.mgr.mgr-info{margin-right:5px}